<h1>注文情報入力</h1>
<div>
  <%= form_with model: @order do |f| %>
    <div>
      <h2>支払方法</h2>
      <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
      <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
      <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
      <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
    </div>
    <div>
      <h2>お届け先</h2>
      <%= radio_button 
    </div>
  <% end %>
</div>
